/* Footer --/-- Pie de pagina */
footer {
    min-height: 250px;
    background-color: #1b1b32;
}

footer img {
    margin: 10px;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}


.iconos-redes a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes a:hover i {
    color: black;
}

.copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 10px;
}